@model string[]

<table>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@item, "ShowPicture", "Pictures", new {id = item})
               
            </td>
        </tr>
    }
</table>
