@using Microsoft.AspNetCore.Mvc.Rendering
@using CurrencyConverter.ViewModels;

@model CurrrencyViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    var currencyTypes = new List<string>
        {
            "USD", "EUR", "BYN"
        };
}


<div id="timeContainer" class="container-fluid" style="background: aqua; border-color: red; border: 10px;">
    @await Component.InvokeAsync("CurrentTimeTimer")
</div>

@using (Html.BeginForm("Convert", "Home", FormMethod.Post))
{

    <table>
        <tr>
            <td>
                @Html.TextBox("Amount", 1)
            </td>
            <td>
                @Html.DropDownListFor(m => m.CurrencyFrom, new SelectList(Model.CurrencyTypes))
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                @Html.DropDownListFor(m => m.CurrencyTo, new SelectList(Model.CurrencyTypes))
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="submit" />
            </td>
        </tr>

    </table>

}
